@using SKBKontur.Catalogue.Core.Web.Models.HtmlModels
@using SKBKontur.Catalogue.Core.Web.RenderingHelpers
<!doctype html>
<!--[if IE]><![endif]-->
<!--[if lt IE 7]><html class="nojs ie-lt7 ie-lt8 ie-lt9"><![endif]-->
<!--[if lt IE 8]><html class="nojs ie-lt8 ie-lt9"><![endif]-->
<!--[if lt IE 9]><html class="nojs ie-lt9"><![endif]-->
<!--[if gt IE 8]> <!--><html class="nojs"><!--> <![endif]-->
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-type" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
@* ReSharper disable Html.PathError *@
    <link rel="shortcut icon" href="/Icon.ico" type="image/x-icon" />
@* ReSharper restore Html.PathError *@
    <title>@RenderSection("Title")</title>

    @{
        Html.RenderMetaAttributes();
        Html.RenderSharedStyles();
        
        Html.RenderStyle("/Statics/Design/Common/Styles/Header.css");
        Html.RenderStyle("/Blocks/StartPage/StartPage.css");

        Html.RenderSharedScripts();
    }

    @RenderSection("Statics")
</head>
<body class="alkoPage subform tabGroup" subform="page" verticalPadding="80">
    <div class="alkoPage__top"></div>
    <div class="alkoPage__bottom"></div>
    <div id="page" class="alkoPage__content">
         @RenderBody()
    </div>
    @RenderSection("Layers")
    @Html.LightboxOverlay()
    @Html.Reference(ReferenceContainer.Body)
</body>
</html>