@using SKBKontur.Catalogue.Core.Web.RenderingHelpers
<!doctype html>
<!--[if IE]><![endif]-->
<!--[if lt IE 7]><html class="nojs ie-lt7 ie-lt8 ie-lt9"><![endif]-->
<!--[if lt IE 8]><html class="nojs ie-lt8 ie-lt9"><![endif]-->
<!--[if lt IE 9]><html class="nojs ie-lt9"><![endif]-->
<!--[if gt IE 8]> <!--><html class="nojs"><!--> <![endif]-->
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-type" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
@* ReSharper disable Html.PathError *@
    <link rel="shortcut icon" href="/Icon.ico" type="image/x-icon" />
@* ReSharper restore Html.PathError *@
    <title>@RenderSection("Title")</title>

    @{
        Html.RenderStyle("/Shared/Design/Common/Styles/Reset.css");
        Html.RenderStyle("/Shared/Design/Common/Styles/Typography.css");
        Html.RenderStyle("/Shared/Design/Common/Styles/Common.css");
        Html.RenderStyle("/Shared/Design/Common/Styles/Page.css");
        Html.RenderStyle("/Shared/Design/Common/Styles/Header.css");
        Html.RenderStyle("/Shared/Design/Common/Styles/Content.css");
        Html.RenderStyle("/Shared/Design/Common/Styles/Footer.css");
        Html.RenderStyle("/Shared/Design/Login/Styles/Login.css");
        Html.RenderStyle("/Shared/Design/Fields/Styles/Fields.css");
        Html.RenderStyle("/Shared/Design/Fields/Styles/Input.css");
        Html.RenderStyle("/Shared/Design/Fields/Styles/Mask.css");
        Html.RenderStyle("/Shared/Design/Fields/Styles/Select.css");
        Html.RenderStyle("/Shared/Design/Fields/Styles/Reference.css");
        Html.RenderStyle("/Shared/Design/Fields/Styles/Array.css");
        Html.RenderStyle("/Shared/Design/Fields/Styles/Checkbox.css");
        Html.RenderStyle("/Shared/Design/Fields/Styles/ExtendedCheckbox.css");
        Html.RenderStyle("/Shared/Design/Fields/Styles/Autocomplete.css");
        Html.RenderStyle("/Shared/Design/Balloon/Styles/Balloon.css");
        Html.RenderStyle("/Shared/Design/Calendar/Styles/Calendar.css");
        Html.RenderStyle("/Shared/Design/List/Styles/List.css");

        Html.RenderStyle("/SharedBlocks/Button/Button.css");
        Html.RenderStyle("/SharedBlocks/RadioButton/RadioButton.css");
        Html.RenderStyle("/SharedBlocks/Autocomplete/AutocompleteControl.css");
        Html.RenderStyle("/SharedBlocks/KeyboardNavigation/KeyboardNavigation.css");
        Html.RenderStyle("/SharedBlocks/CertificatesList/CertificatesList.css");
        Html.RenderStyle("/SharedBlocks/DragAndDropUpload/DragAndDropUpload.css");
        Html.RenderStyle("/SharedBlocks/BalloonLink/BalloonLink.css");
        
        Html.RenderStyle("/Statics/Design/Common/Styles/Header.css");

        Html.RenderStyle("/Shared/Design/RemoteTaskQueueMonitoring/Styles/RemoteTaskQueueMonitoring.css");
        Html.RenderStyle("/Shared/Design/RemoteTaskQueueMonitoring/Styles/Paginator.css");

        Html.RenderScript("/Shared/Scripts/External/Base.js");
        Html.RenderScript("/Shared/Scripts/External/Clone.js");
        Html.RenderScript("/Shared/Scripts/External/JQuery.js");
        Html.RenderScript("/Shared/Scripts/External/JQueryDisableTextSelect.js");
        Html.RenderScript("/Shared/Scripts/External/JQueryEasing.js");
        Html.RenderScript("/Shared/Scripts/External/JQueryAnimation.js");
        Html.RenderScript("/Shared/Scripts/External/JQueryMousewheel.js");
        Html.RenderScript("/Shared/Scripts/External/JQueryJson.js");
        Html.RenderScript("/Shared/Scripts/External/JQuerySimulate.js");
        Html.RenderScript("/Shared/Scripts/External/JQuerySimulateTyping.js");
        Html.RenderScript("/Shared/Scripts/External/JQueryCookie.js");

        Html.RenderScript("/Shared/Scripts/External/underscore.js");
        Html.RenderScript("/Shared/Scripts/Extensions/UnderscoreAddon.js");
        Html.RenderScript("/Shared/Scripts/Extensions/Browser.js");

        Html.RenderScript("/Shared/Scripts/Keyboard/Keyboard.js");
        Html.RenderScript("/Shared/Scripts/Keyboard/KeyboardCollection.js");
        Html.RenderScript("/Shared/Scripts/Keyboard/KeyboardNormalizer.js");
        Html.RenderScript("/Shared/Scripts/Keyboard/KeyboardKeys.js");

        Html.RenderScript("/Shared/Scripts/Expressions/Expression.js");

        Html.RenderAllScriptsFromDirectory("/Shared/Scripts/Autoload");
        Html.RenderAllScriptsFromDirectory("/SharedBlocks/");
    }

    @RenderSection("Statics")
</head>
<body class="alkoPage subform tabGroup" subform="page" verticalPadding="80">
    <div class="alkoPage__top"></div>
    <div class="alkoPage__bottom"></div>
    <div id="page" class="alkoPage__content">
         @RenderBody()
    </div>
    @RenderSection("Layers")
    @RenderSection("LightboxLayers")
    @Html.AutocompleteReference()
    @Html.AutocompleteReferenceControl()
</body>
</html>