@using SKBKontur.Catalogue.Core.Web.Blocks.Button
@using SKBKontur.Catalogue.RemoteTaskQueue.Front.Areas.LoginArea.Models.Enter
@model EnterPageModel
@{
    Layout = "~/Blocks/StartPage/StartPage.cshtml";
}
@section Title{@Model.EnterPageText.Title}
@{
    IEnterPageText text = Model.EnterPageText;
}
@section Statics {
    @{
    }
    <script type="text/javascript">
        $(document).ready(function() {
            var pageController = new LoginPageController("Login", "Enter");
            pageController.run();
        });
    </script>
}
@section Layers {}
@section LightboxLayers {}
<div class="alkoUnregistered">
    <span class="alkoLogo alkoLogo_type_big"></span>
    <div class="alkoUnregistered__content">
        @using(Html.BeginForm("Login", "Enter"))
        {
            <input name="backUrl" type="hidden" value="@Model.BackUrl" />
            <input name="authenticatorType" type="hidden" value="@Model.AuthenticatorType" />

            <div class="alkoUnregistered__otherEnter"><a href="#">@text.CertificateEnter</a></div>
            <h1 class="alkoUnregistered__header">@text.Title</h1>

            <div class="alkoUnregistered__param context_novis">
                <div class="alkoUnregistered__param__text">@text.Email</div>
                <div class="alkoUnregistered__param__field">
                    <span class="input field_wrap @(!string.IsNullOrEmpty(Model.UserNotFoundClass) ? "field__incorrect" : "")" id="login_Wrap">
                        <span class="input_content">
                            <input type="text" name="Login" id="login" class="input_field  element element_type_input" value="@Model.Data.Login" />
                        </span>
                        <span class="input_ls"></span>
                        <span class="input_rs"></span>
                    </span>
                </div>
            </div>
            <div class="alkoUnregistered__param context_novis">
                <div class="alkoUnregistered__param__text">@text.Password</div>
                <div class="alkoUnregistered__param__field">
                    <span class="input field_wrap @(!string.IsNullOrEmpty(Model.InvalidPasswordClass) ? "field__incorrect" : "")" id="password_Wrap">
                        <span class="input_content">
                            <input type="password" name="Password" id="password" class="input_field  element element_type_input" />
                        </span>
                        <span class="input_ls"></span>
                        <span class="input_rs"></span>
                    </span>
                    @Html.Button(Model.LoginButton)
                </div>
            </div>
        }
    </div>
</div>