@using SKBKontur.Catalogue.RemoteTaskQueue.ElasticMonitoring.MvcControllers
<!DOCTYPE html>
<html>
    <head>
        <title>@RenderSection("Title")</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">    </head>
        @Html.MagicStyle("~/Views/Statics/Styles/bootstrap.css")
        @Html.MagicStyle("~/Views/Statics/Styles/bootstrap-theme.css")
        @Html.MagicStyle("~/Views/Statics/Styles/bootstrap-select.css")
        @Html.MagicStyle("~/Views/Statics/Styles/daterangepicker-bs3.css")
        @Html.MagicStyle("~/Views/Statics/Styles/bootstrap-button-loading.css")
        @Html.MagicScript("~/Views/Statics/Scripts/jquery-2.1.3.js")
        @Html.MagicScript("~/Views/Statics/Scripts/test.js")
    <body>
        @RenderBody()
        

        @Html.MagicScript("~/Views/Statics/Scripts/bootstrap.js")
        @Html.MagicScript("~/Views/Statics/Scripts/moment.js")
        @Html.MagicScript("~/Views/Statics/Scripts/daterangepicker.js")
        @Html.MagicScript("~/Views/Statics/Scripts/bootstrap-select.js")
        @Html.MagicScript("~/Views/Statics/Scripts/bootstrap-select.js")

        
        @RenderSection("Scripts", false)
    </body>
</html>