@using SKBKontur.Catalogue.RemoteTaskQueue.TaskMonitoringViewer.Models.Paging
@using SKBKontur.Catalogue.RemoteTaskQueue.TaskMonitoringViewer.RenderingHelpers
@model IPaginatorModelData
<div class="c-paginator controlPanel_paginator">
    @{ if(Model.TotalPagesCount > 1)
       {
           <p id="Paginator_Label" class="c-paginator-label">Страницы:</p>
           <ul class="c-paginator-pages">
               @{
                   var startPageNumber = Math.Max(0, Model.PageNumber - Model.PagesWindowSize);
                   var endPageNumber = Math.Min(Model.TotalPagesCount, Model.PageNumber + Model.PagesWindowSize + 1);
                   for(var i = startPageNumber; i < Model.PageNumber; i++)
                   {
                       if(i == startPageNumber && startPageNumber != 0)
                       {
                           @Html.DotsLinkPage(new PaginatorPageLinkModelData(Model, i))
                       }
                       else
                       {
                           @Html.LinkPage(new PaginatorPageLinkModelData(Model, i))
                       }
                   }
                   @Html.CurrentPage(new PaginatorPageLinkModelData(Model, Model.PageNumber))
                   for(var i = Model.PageNumber + 1; i < endPageNumber; i++)
                   {
                       if(i == endPageNumber - 1 && endPageNumber != Model.TotalPagesCount)
                       {
                           @Html.DotsLinkPage(new PaginatorPageLinkModelData(Model, i))
                       }
                       else
                       {
                           @Html.LinkPage(new PaginatorPageLinkModelData(Model, i))
                       }
                   }
               }
           </ul>
           <p class="c-paginator-shorthands">
               @{
                   if(Model.PageNumber != 0)
                   {
                       @Html.PrevLinkPage(new PaginatorPageLinkModelData(Model, Model.PageNumber - 1))
                   }
                   else
                   {
                       @Html.PrevPage()
                   }
                   if(Model.PageNumber != Model.TotalPagesCount - 1)
                   {
                       @Html.NextLinkPage(new PaginatorPageLinkModelData(Model, Model.PageNumber + 1))
                   }
                   else
                   {
                       @Html.NextPage()
                   }
               }
           </p>
       } }
</div>
