@using RemoteQueue.Cassandra.Entities
@using SKBKontur.Catalogue.RemoteTaskQueue.ElasticMonitoring.MvcControllers.Models
@model SKBKontur.Catalogue.RemoteTaskQueue.ElasticMonitoring.MvcControllers.Models.TaskSearchResultsModel
@functions {

    private string GetTaskRowColor(TaskModel task)
    {
        if (task.State == TaskState.New)
            return "";
        if (task.State == TaskState.Finished)
            return "success";
        if (task.State == TaskState.WaitingForRerun || task.State == TaskState.InProcess || task.State == TaskState.WaitingForRerunAfterError)
            return "active";
        if (task.State == TaskState.Unknown || task.State == TaskState.Fatal || task.State == TaskState.Canceled)
            return "danger";
        return "danger";
    }

}
<table data-next-iterator-context="@Model.IteratorContext">
    @foreach (var task in Model.Tasks)
    {
        <tr class="@GetTaskRowColor(task)">
            <td>@task.Id</td>

            <td>@task.State</td>
            <td>@task.Name</td>
            <td>@task.EnqueueTime</td>
            <td>@task.StartExecutionTime</td>

            <td>@task.FinishExecutionTime</td>
            <td>@task.MinimalStartTime</td>
            <td>@task.AttemptCount</td>
            <td>@task.ParentTaskId</td>
        </tr>
    }
</table>