@using SKBKontur.Catalogue.Core.Web.RenderingHelpers
@model SKBKontur.Catalogue.RemoteTaskQueue.TaskMonitoringViewer.Models.Primitives.TaskDateTimeHtmlModel
           
@{
    if (Model.HideTicks)
    {
        <div id="@Model.Id" title="@Model.Ticks">
            @Html.ReadonlyDateAndTime(Model.DateTime)
        </div>
    }
    else
    {
        <div id="@Model.Id">
            @Model.Ticks.ToString()
        </div>
    }
}