@using SKBKontur.Catalogue.RemoteTaskQueue.MonitoringDataTypes.MonitoringEntities.Primitives
@model SKBKontur.Catalogue.RemoteTaskQueue.TaskMonitoringViewer.Models.Primitives.TaskStateHtmlModel
           
<div class="taskState" id="@Model.Id">
    @Model.Value
    @{
        if (Model.Value == TaskState.New || Model.Value == TaskState.WaitingForRerun || Model.Value == TaskState.WaitingForRerunAfterError)
        {
            <a id="@(Model.Id)_CancelLink" class="cancelTask" href="#" url="@Model.GetCancelUrl(Url)"></a>
        }
        <a id="@(Model.Id)_RerunLink" class="rerunTask" href="#" url="@Model.GetRerunUrl(Url)"></a>
    }
</div>