@using SKBKontur.Catalogue.Core.Web.Blocks.ActionButton
@using SKBKontur.Catalogue.RemoteTaskQueue.TaskMonitoringViewer.RenderingHelpers
@using SKBKontur.Catalogue.Core.Web.RenderingHelpers
@using SKBKontur.Catalogue.RemoteTaskQueue.TaskMonitoringViewer.Models.TaskList
@model TaskListPageModel
@{
    var htmlModel = Model.HtmlModel;
    Layout = "TaskMonitoringLayout.cshtml";
}
@* ReSharper disable Razor.SectionNotResolved *@
@section Title {
    Очередь задач
}
@* ReSharper restore Razor.SectionNotResolved *@
@section Scripts{
    var PageOptions = @Html.Raw(Model.GetPageOptions());
    $(document).ready(function() {
    var pageController = new Page("AdminTools","RemoteTaskQueue");
    pageController.run();
    });
}
<h1 class="adminTools__header">
    Очередь задач
    <a href="/AdminTools" class="adminTools__header__back">вернуться к инструментам администратора</a>
</h1>
@{
    var searchPanelModel = htmlModel.SearchPanel;
}

<div class="adminTools__filters slide element slide__hide">
    <div class="slide_title_link disableSelection adminTools_filter_showHideLink">
        <a href="#" class="slide_title_link_link dottedLink t-pseudoLink">Показать/скрыть фильтры</a>
    </div>
    <div class="slide_listWrap" style="display: none;">
        <div class="adminTools__filter">
            <div class="adminTools__filter__label">State</div>
            <div class="adminTools__filter__field">
                @foreach(var taskState in searchPanelModel.TaskStates)
                {
                    <div class="adminTools__filter__field__items">
                        @Html.Input(taskState.Value)
                        @Html.Checkbox(taskState.CheckBox)
                    </div>
                }
            </div>
        </div>
        <div class="adminTools__filter">
            <div class="adminTools__filter__label">TaskId</div>
            <div class="adminTools__filter__field adminTools__filter__field_type_big">@Html.Input(searchPanelModel.TaskId)</div>
        </div>
        <div class="adminTools__filter">
            <div class="adminTools__filter__label">ParentTaskId</div>
            <div class="adminTools__filter__field adminTools__filter__field_type_big">@Html.Input(searchPanelModel.ParentTaskId)</div>
        </div>
        <div class="adminTools__filter">
            <div class="adminTools__filter__label">TaskName</div>
            <div class="adminTools__filter__field">

                @foreach(var taskName in searchPanelModel.TaskNames)
                {
                    <div class="adminTools__filter__field__items">
                        @Html.Input(taskName.Value)
                        @Html.Checkbox(taskName.CheckBox)
                    </div>
                }
            </div>
        </div>

        <div class="adminTools__filter">
            <div class="adminTools__filter__label">Ticks From</div>
            <div class="adminTools__filter__field">@Html.DateAndTime(searchPanelModel.Ticks.From)</div>
            <div class="adminTools__filter__label">Ticks To</div>
            <div class="adminTools__filter__field">@Html.DateAndTime(searchPanelModel.Ticks.To)</div>
        </div>
        <div class="adminTools__filter">
            <div class="adminTools__filter__label">StartExecutedTicks From</div>
            <div class="adminTools__filter__field">@Html.DateAndTime(searchPanelModel.StartExecutedTicks.From)</div>
            <div class="adminTools__filter__label">StartExecutedTicks To</div>
            <div class="adminTools__filter__field">@Html.DateAndTime(searchPanelModel.StartExecutedTicks.To)</div>
        </div>
        <div class="adminTools__filter">
            <div class="adminTools__filter__label">FinishExecutedTicks From</div>
            <div class="adminTools__filter__field">@Html.DateAndTime(searchPanelModel.FinishExecutedTicks.From)</div>
            <div class="adminTools__filter__label">FinishExecutedTicks To</div>
            <div class="adminTools__filter__field">@Html.DateAndTime(searchPanelModel.FinishExecutedTicks.To)</div>
        </div>
        <div class="adminTools__filter">
            <div class="adminTools__filter__label">MinimalStartTicks From</div>
            <div class="adminTools__filter__field">@Html.DateAndTime(searchPanelModel.MinimalStartTicks.From)</div>
            <div class="adminTools__filter__label">MinimalStartTicks To</div>
            <div class="adminTools__filter__field">@Html.DateAndTime(searchPanelModel.MinimalStartTicks.To)</div>
        </div>
    </div>
</div>
<div class="adminTools__button">@Html.ActionButton(searchPanelModel.SearchButton)</div>
<div class="adminTools__filters__count">
    <span class="adminTools__filters__count__content">Найдено: @Html.Text(htmlModel.TaskCount)</span>
</div>
<table class="adminTools__data">
    <tr>
        <th class="adminTools__data__header">TaskId</th>
        <th class="adminTools__data__header">TaskState</th>
        <th class="adminTools__data__header">TaskName</th>
        <th class="adminTools__data__header">EnqueueTicks</th>
        <th class="adminTools__data__header">StartExecutedTicks</th>
        <th class="adminTools__data__header">FinishExecutedTicks</th>
        <th class="adminTools__data__header">MinimalStartTicks</th>
        <th class="adminTools__data__header">Attempts</th>
        <th class="adminTools__data__header adminTools__last">ParentTaskId</th>
    </tr>
    @{
        foreach(var taskModel in htmlModel.Tasks)
        {
            <tr class="adminTools__data__item adminTools__data__item_state_@(taskModel.TaskState.Value)">
                <td class="adminTools__data__col adminTools__data__col_type_id">
                    @Html.TaskId(taskModel.TaskId)
                </td>
                <td class="adminTools__data__col">
                    @Html.TaskState(taskModel.TaskState)
                </td>
                <td class="adminTools__data__col">
                    @Html.Text(taskModel.TaskName)
                </td>
                <td class="adminTools__data__col">
                    @Html.TaskDateTime(taskModel.EnqueueTime)
                </td>
                <td class="adminTools__data__col">
                    @Html.TaskDateTime(taskModel.StartExecutingTime)
                </td>
                <td class="adminTools__data__col">
                    @Html.TaskDateTime(taskModel.FinishExecutingTime)
                </td>
                <td class="adminTools__data__col">
                    @Html.TaskDateTime(taskModel.MinimalStartTime)
                </td>
                <td class="adminTools__data__col">
                    @Html.Text(taskModel.Attempts)
                </td>
                <td class="adminTools__data__col adminTools__last adminTools__data__col_type_id">
                    @Html.TaskId(taskModel.ParentTaskId)
                </td>
            </tr>
        }
    }
</table>
@Html.Selects(Model.GetAllSelects())
<div class="adminTools__paginator">
    @Html.Paginator(Model.PaginatorModelData)
</div>