@using SKBKontur.Catalogue.Core.Web.RenderingHelpers
@using SKBKontur.Catalogue.RemoteTaskQueue.TaskMonitoringViewer.Models.TaskDetails
@using SKBKontur.Catalogue.RemoteTaskQueue.TaskMonitoringViewer.RenderingHelpers
@model TaskDetailsPageModel
@{
    Layout = "TaskMonitoringLayout.cshtml";
}
@{
    var htmlModel = Model.HtmlModel;
}

@* ReSharper disable Razor.SectionNotResolved *@
@section Title {
    @Model.Title
}
@* ReSharper restore Razor.SectionNotResolved *@

@section Scripts {
}
<h1 class="adminTools__header">
    @Model.Title
    <a class="adminTools__header__back" href="@Model.TaskListUrl" id="TaskListBackLink">Вернуться к списку задач</a>
</h1>
<div class="adminTools__details__container">
    <table class="adminTools__details">
        <tr class="adminTools__details__item">
            <th class="adminTools__details__header">TaskId</th>
            <td class="adminTools__details__col">@Html.TaskId(htmlModel.TaskMetaInfo.TaskId)</td>
        </tr>
        <tr class="adminTools__details__item">
            <th class="adminTools__details__header">TaskState</th>
            <td class="adminTools__details__col">@Html.TaskState(htmlModel.TaskMetaInfo.TaskState)</td>
        </tr>
        <tr class="adminTools__details__item">
            <th class="adminTools__details__header">TaskName</th>
            <td class="adminTools__details__col">@Html.Text(htmlModel.TaskMetaInfo.TaskName)</td>
        </tr>
        <tr class="adminTools__details__item">
            <th class="adminTools__details__header">EnqueueTicks</th>
            <td class="adminTools__details__col">@Html.TaskDateTime(htmlModel.TaskMetaInfo.EnqueueTime)</td>
        </tr>
        <tr class="adminTools__details__item">
            <th class="adminTools__details__header">StartExecutedTicks</th>
            <td class="adminTools__details__col">@Html.TaskDateTime(htmlModel.TaskMetaInfo.StartExecutingTime)</td>
        </tr>
        <tr class="adminTools__details__item">
            <th class="adminTools__details__header">FinishExecutedTicks</th>
            <td class="adminTools__details__col">@Html.TaskDateTime(htmlModel.TaskMetaInfo.FinishExecutingTime)</td>
        </tr>
        <tr class="adminTools__details__item">
            <th class="adminTools__details__header">MinimalStartTicks</th>
            <td class="adminTools__details__col">@Html.TaskDateTime(htmlModel.TaskMetaInfo.MinimalStartTime)</td>
        </tr>
        <tr class="adminTools__details__item">
            <th class="adminTools__details__header">Attempts</th>
            <td class="adminTools__details__col">@Html.Text(htmlModel.TaskMetaInfo.Attempts)</td>
        </tr>
        <tr class="adminTools__details__item">
            <th class="adminTools__details__header">ParentTaskId</th>
            <td class="adminTools__details__col">@Html.TaskId(htmlModel.TaskMetaInfo.ParentTaskId)</td>
        </tr>
        <tr>
            <th class="adminTools__details__header">ChildTaskIds</th>
            <td class="adminTools__details__col">
                @{
                    foreach (var childTaskId in htmlModel.ChildTaskIds)
                    {
                        @Html.TaskId(childTaskId)<br/>
                    }
                }
            </td>
        </tr>
        <tr class="adminTools__details__item">
            <th class="adminTools__details__header">TaskGroupLock</th>
            <td class="adminTools__details__col">@Html.Text(htmlModel.TaskMetaInfo.TaskGroupLock)</td>
        </tr>
        <tr class="adminTools__details__item @(htmlModel.ExceptionInfo == null ? "adminTools__details__last" : "")">
            <th class="adminTools__details__header">TaskData</th>
            <td class="adminTools__details__col" id="TaskData">@htmlModel.TaskDataValue.Render(Html)</td>
        </tr>
        @{
            if (htmlModel.ExceptionInfo != null)
            {
                <tr class="adminTools__details__item adminTools__details__last">
                    <td class="adminTools__details__header">Детали ошибки</td>
                    <td class="adminTools__details__col">
                        @Html.ExceptionInfo(htmlModel.ExceptionInfo)
                    </td>
                </tr>
            }
        }
    </table>
</div>